@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap');

:root {
    --field-background: #add8e6;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-color: aliceblue;
    box-sizing: ;
}

header {
    border-width: medium;
    text-shadow: 2px 2px 2px deeppink;
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: black; */
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: powderblue;
    font-size: 4rem;
    color: white;
    /* margin-bottom: 10px; */
    border-style: outset;
}

main {
    display: flex;
    flex: 1;
}

.projects {
    background-color: pink;
    flex-basis: 20%;
}

.projects>.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects li>div>div:hover{
    cursor: pointer;
}

.new-project {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 0.5em;
    height: 1.5em;
    width: 1.5em;
    display: flex;
    font-size: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    /* margin: 1em; */
    margin-right: 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
}

li {
    align-items: center;
    width: 100%;
    /* padding-left: 1em; */
    height: 2em;
    box-sizing: content-box;
    display: flex;
    background-color: antiquewhite;
}

li>input {
    background-color: transparent;
    padding: 0;
    height: 100%;
    border: none;
    width: 100%;
    margin: 0;
}


li > input:focus-visible{
    outline-style: solid;
    outline-width: 2px;
}

li>input,
li>div {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 1em;
}

.projects li>div {
    white-space: normal;
    /* text-overflow: ellipsis; */
    /* overflow: hidden; */
    /* white-space: nowrap; */
    align-items: center;
    width: 16em;
    gap: 1em;
    display: flex;
    justify-content: space-between;
}

.projects li>div>div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}

.todos{
    flex: 1;
    margin: 2em;
}

.todos > .top{
    display: flex;
    justify-content: space-between;
}

button.new-task {
    margin: 1em;
    height: 3em;
    width: 8em;
    display: none;
}

.headings{
    width: 100%;
    display: flex;
    padding: 0.5em 0;
    /* justify-content: center; */
    gap: 48em;
    background-color: slategrey;
    display: none;

}

.title {
    margin-left: 1em;
}

.headings > *{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
}



li.task {
    display: flex;
    background-color: #d1f1fd;
    justify-content: space-between;
    gap: 2em;
}

.task > .left{
    display: flex;
    flex: 1;
    gap: 2em;
    justify-content: space-between;
}

.task > .right{
    display: flex;
    align-items:  center;
    gap: 1em;
}

li .checked{
    width: auto;
}

img:hover{
    cursor: pointer;
}


form {
    flex: 1;
    display: none;
}

legend {
    margin: 1em;
    font-size: 2em;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 1em;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--field-background);
    border: solid 2px var(--field-background);
    height: 4em;
}

label {
    font-family: monospace;
    font-size: 1.5em;
}

div>input,
div>select {
    border: none;
    height: 2em;
    width: 100%;
    border: none;
    padding: 0;
    background-color: floralwhite;
    margin: 0;
}

/* li > input{
    padding: 1em;
} */

#due-date,
#priority {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

form button {
    width: 6rem;
    height: 3rem;
    /* back */
}

h2 {
    margin-left: 1em;
    font-family: 'Jost', sans-serif;;
}

img{
    height: 2em;
}